.centered {
  margin: 50px;
  text-align: justify;
  background-color: aquamarine;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  line-height: 30px;
}

.flex-container {
  width: fit-content;
}

.button-primary {
  padding: 10px;
  background-color: aqua;
}
